* {
    margin: 0;
    padding: 0;
}

.title {
    color: #fff;
}

.subtitle, .small-text {
    color: #fff;
}

.screen-welcome {
    background-color: #2c2c2c;
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px; padding-right: 100px;
}

.navigation {
    margin: 20px 0 40px 0;
}

.navigation li{
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 5px 0 5px 0;
    border: 1px solid black;
    width: 400px;  
    border-radius: 8px;
}

/* temporary */
div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
/* temporary */


.deck-list {
    width: 500px;
}

.deck {
    border-radius: 8px;

}

ul {
    background-color: #363636;
}

li {
    color: #fff;
}

.deck-list li {
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.deck-list {
    margin: 10px 0 0 0;
}

.deck ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid black;
    width: 600px;
}

.deck ul li:first-child {
    margin-right: 275px;
}

.nav li:last-child {
    color: aqua;
}

.nav li {
    font-weight: bold;
}

.main-deck {
    display: grid;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #363636;
}

.stats {
    margin: 20px 10px 10px 10px;
}

.deck-list {
    font-weight: bold;
}

.stats-data {
    gap: 60px;
    border: none;
    padding: 10px 20px 10px 10px;
    border-radius: 20px;
    background-color: #252525;
}

.stats-name {
    margin-right: 80px;
}

/* .boxes {
    display: absolute;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid black;
}

.box1, .box2, .box3 {
    display: display inherit;
    border: 1px solid black;
    width: 300px;
    height: 200px;
} */


.boxes {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.summary-card {
    margin: 20px 0 0 0;
    border: 1px solid black;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(30,30,30,0.06);
    width: 285px;
    min-height: 240px;
    padding: 28px 32px 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.summary-card {
    background-color: #363636;
}

/* Responsive: stack on small screens */
@media (max-width: 900px) {
  .boxes {
    flex-direction: column;
    align-items: center;
  }
  .summary-card {
    width: 90vw;
  }
}

.setting {
    margin-top: 60px;
}

.choice p {
    color: #fff;
}

.choice {
    gap: 40px;
}

.choice div {
    border: 1px solid white;
    padding: 5px 15px 5px 15px;
    border-radius: 25px;
}

.choice div:hover {
    background-color: #858585;
    cursor: pointer;
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #fff;
    border-top-color: #53a5e0;
    border-radius: 50%;
    animation: loading 0.75s, ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}